<header>
  <img class = "im" src = "/resources/logo.png" alt ="logo">
  <div class = "topview"><h1>A Favor for Friends</h1>
  <% if(user){%>
   <p class="rightHeader">Welcome <%=user%> </p>
   <%}%>

  </div>
</header>
