<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SkillsSwapper</title>
  <link rel="stylesheet" type="text/css" href="/resources/style.css">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
  <main>
    <ul class="breadcrumb">
      <li><a href="index">Home</a>&gt;</li>
      <li><a href="about">About</a></li>
    </ul>
    <img  class ="about" src ="/resources/images/about.jpg" alt="about">
    <div class ="aboutpage">
      <br>
      SkillsSwapper is an online community of giving, sharing, fun and friendship where people make friends and swap favours  It's a place that nurtures community spirit and a genuine caring for the environment - and it's all completely free!
      <br><br>
      Doing a favour for someone makes you feel good about yourself and makes you feel a valued part of the community. It is now proven that being part of a community where everyone is giving to and helping each other actually makes you happier.
      <br><br>
      We hope you get as much fun and happy times here as we're having creating it!

    </div>
  </main>
  <% include partials/footer.ejs %>

</body>
</html>
