<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SkillsSwapper</title>
  <link rel="stylesheet" type="text/css" href="/resources/style.css">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
  <main>
    <ul class="breadcrumb">
      <li><a href="index">Home</a>&gt;</li>
      <li><a href="contact">Contact Us</a></li>
    </ul>

    <div class ="mainpage">
      Please send your request or feedback to<br><br>
      <b>info@skillsSwapper.com</b>
      <br><br>
      We'll get back to you as soon as possible.
    </div>
  </main>
  <% include partials/footer.ejs %>

</body>
</html>
