<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SkillsSwapper</title>
  <link rel="stylesheet" type="text/css" href="/resources/style.css">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
  <main>
    <ul class="breadcrumb">
      <li><a href="index">Home</a></li>
    </ul>

    <div class ="mainpage">
      <h1>WELCOME</h1>
      <br>
      Ever wanted to play the piano or learn how to speak French? SkillSwapper is a great website where you can trade in your own skills in exchange for the skills of others users.
      In return for painting a bedroom, designing a website, or partaking in some cat sitting for another user, you might be able to learn that skill you've always wanted to learn but didn't have the cash to fund the teaching.Upload list what your skills are as well as all the skills you're on the hunt for. If you see anyone you’d like to swap a skill with, just message them – it’s as simple as that!<br><br>
    </div>
  </main>
  <% include partials/footer.ejs %>

</body>
</html>
